{
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "semi": "error",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-trailing-spaces": "error",
    "eqeqeq": "error",
    "object-curly-spacing": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "comma-dangle": ["error", "always-multiline"]
  }
}